  * {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 1em;
	line-height: 1.25em;
	margin-top: .8em;
	margin-bottom: .25em;
}
p {
	font-size: .8em;
	line-height: 1;
	margin: 2em 0;
}

img {
width: 200px;
height: 200px;
}
.container {
	margin: 0 auto 4.5em;
	text-align: center;
	max-width: 200px;
}
.cta {
	font-size: 1.25em;
	color: #fff;
	width: 75%;
	background: blue;
	margin: 3em auto auto;
	padding: .95em 2em;
	border-radius: 4px;
}

.display {
	font-size: .85em;
	color: #fff;
	padding: 1.1em 1em 0;
	background: orangered;
}

.container {
  perspective: 800px;
  -webkit-perspective: 800px;
	box-shadow: -10px 10px 40px 10px rgba(0,0,0,1);
}

.fotos {
transition: transform 1.5s ease-in-out;
-webkit-transition: transform 1.5s ease-in-out;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 200px;
  width: 200px;
}

.fotos:hover {
  -webkit-transform: rotateY(-270deg) rotateX(360deg);
  transform: rotateY(-270deg) rotateX(360deg);
}

.front,
.back,
.left,
.right,
.top,
.bottom {
height: 100%;
  width: 100%;
  display: block;
  position:absolute;
  border-radius: 4px;
}

.front {
transform:  translate3d(0,0,100px);
-webkit-transform:  translate3d(0,0,100px);
}
.back {
transform: translateZ(-100px) rotateY(270deg);
-webkit-transform: translateZ(-100px);
  transform-origin: center left;
  -webkit-transform-origin: center left;
}.left {
transform: rotateY(-270deg) translateX(100px);
-webkit-transform: rotateY(-270deg) translate3d(0,100px,0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
}
.right {
transform: translateZ(-100px) rotateY(180deg);
-webkit-transform: translateZ(-100px) rotateY(180deg);
}
.bottom {
  -webkit-transform: rotateX(270deg) translateY(100px);
  transform: rotateX(270deg) translateY(100px);
 -webkit-transform-origin: bottom center;
 transform-origin: bottom center;
}
.top {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  transform: rotateX(-270deg) translateY(-100px);
 -webkit-transform-origin: top center;
 transform-origin: top center;
}
  
  .front h3 {
 color: #fff;
}

.front {
  background-color: black;
  font-size: 50px;
}
